.container{width: 980px;}
#toolbar{ul li a span{padding:0 32px;}}
#header .links {
    display: block;
    width: 247px;
    height: 40px;
    float: right;
    margin-top: 10px;
}
#header .search {
    display: block;
    float: left;
    position: relative;
    width: 471px;
    height: 35px;
    margin-left: 7px;
}

#nav li {
    width: 109px;
    a{width: 109px;}
}
#nav li:first-child {
  background: #fff;width: 108px; 
    }
  #nav li:first-child a {
    color: #666; width: 108px;}
#nav li:nth-child(7) {
  background: #e60044; }
  #nav li:nth-child(7) a {
    color: #fff; }
#goodsMain{height: 568px;}
#goodsMain .area {
    width: 980px;
    height: 38px;
    line-height: 38px;
    text-align: left;
    font-size: 12px;
    position:relative;
}

#goods_wapper{width: 980px;height: 530px; margin-bottom: 45px;}
.goods_wapper_l{width: 402px;height: 520px;
    float: left;

    ul {
        width: 408px;
        height: 60px;
        float: left;
        margin-top: 16px;

        li{
            width: 58px;
            margin-right: 10px;
            height: 58px;
            float: left;
            border: 1px solid #e5e5e5;
            overflow: hidden;
            font-size: 0;
            line-height: 58px;
        }
    }
}

.goods_wapper_l .qiang {
    width: 50px;
    height: 48px;
    padding-right: 6px;
    background: url("../../src/css/img/qiang.png") no-repeat -789px -5px;
    position: absolute;
    left: 142px;
    top: 269px;
    z-index: 1;
    font-size: 12px;
}
#fangDa{width: 402px;height: 402px;
    .img0{width: 402px;height: 402px;}
}

.wapper_main_b {
    width: 400px;
    height: 22px;
    float: left;
    margin-top: 20px;
    text-align: left;
}
.wapper_main_b div {
    font-size: 12px;
    float: left;
    margin-right: 20px;
    line-height: 16px;
    padding-bottom: 6px;
    a{color:#666;}
    p{color:#666;}
    ol{display:none;}
}


.goods_wapper_r{width: 540px;height: 530px; text-align: left; float: left;margin-left: 38px;}
.wapper_r_l{z-index: 20; float:left;width: 344px;height: 530px;/* background:red; */
    h1{width: 344px;height: 48px;

            font: 700 16px/24px "\5FAE\8F6F\96C5\9ED1";
    color: #333;
    margin: -3px 0 1px 0;
    position: relative;
    }
    h3{    color: #e99494;
    font: 12px/20px "\5FAE\8F6F\96C5\9ED1";}
}

.panelA {
    width: 323px;
}

.panelA {
    /*width: 512px;*/
    float: left;
    margin: 11px 0 0;
}
.act{width: 345px;height:32px;
    background: #ff6767;
    height: 32px;
    margin: 0 0px;
    font: 12px/32px "\5B8B\4F53";
    color: #fff;
    padding: 0 18px;
    display: block;
    text-decoration: none;
    span{    font: 14px/30px "\5FAE\8F6F\96C5\9ED1";}
}


.panelA .bg_gray, .panelA .bg_yel {
    background: #f5f5f5;
    padding: 12px 11px 9px;
    margin: 0 -11px 10px 0px;
}
.panelA .bg_yel {
    width: 345px;height: 120px;
    background: #fff6eb;
}

.panelA .price {
    width: 323px;height:40px;
    margin-bottom: 0;
}

.panelA dl {
    width: 100%;
    float: left;
    margin-bottom: 4px;
    font-family: "\5B8B\4F53";
    line-height: 26px;
}
.panelA dd.colspan {
    width: 100%;
}

.panelA dd {
    width: 265px;
}
.panelA dd {
    width: 454px;
    float: left;
    display: block;
}
.red {
    color: #ec1611;
}

.price strong {
    font: 900 24px/30px "\5FAE\8F6F\96C5\9ED1";
    display: inline-block;
}
.price del {
    font-family: "\5FAE\8F6F\96C5\9ED1";
    vertical-align: 2px;
}
.panelA .fontSimSun {
    font-family: '\5B8B\4F53';

}


.price del {
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: 12px;
}
.js_tit{font-size: 12px;padding-left:176px;}
.phone_buy{img{width: 150px;height: 170px;display:none;}}
.js_tishi{display:none;}
.phone_buy:hover img{display:block;z-index: 21;}

.time .js_time_dl{width: 323px;height: 26px;
    width: 100%;
    float: left;
    margin-bottom: 4px;
    font-family: "\5B8B\4F53";
    font-size: 12px;
    line-height: 26px;
}
.jifene{width: 323px;height:27px;padding:7px;}
.panelA dl.jifen {
    margin-bottom: 2px;
}
.panelA dt {
    width: 58px;
    float: left;
    text-align: left;
    height: 21px;
}
.jifen sub {
    width: 44px;
    height: 16px;
    float: left;
    display: inline-block;
    background: #ff8a00;
    border-radius: 3px;
    line-height: 17px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.panelA dd {
    font-size: 12px;
    width: 265px;
    /*width: 454px;*/
    float: left;
    height: 27px;
}
.jifen .levelbox {
    font-size: 12px;
    width: 104px;
    height: 27px;
    float: left;
    position: relative;
    z-index: 6;
    margin-right: 15px;
}
.jifen .level i {
    margin: 7px 5px 0 0;
}
#jifen{display:none;}
.levelbox:hover #jifen{display:block;background:#fff;}

#address{width: 323px;height:20px;
    font-size: 12px;

.panelA dd {
    width: 265px;
}

.address dd {
    position: relative;
    z-index: 2;
}
.panelA dd {
    width: 454px;
    float: left;
}

}
.address address {
    font-style: normal;
    cursor: pointer;
    display: inline;
    zoom: 1;
}
.address em.down {
    font-family: "\5FAE\8F6F\96C5\9ED1";
    color: #ccc;
}

.address .city {
    border: 1px solid #9c9c9c;
    width: 304px;
    position: absolute;
    display: none;
    background: #fff;
    left: -13px;
    top: 31px;
    padding: 8px 0;
    z-index: 2;
}
.panelA dt.new_bg {
    width: 46px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    padding-right: 3px;
    background: url("../../src/css/img/yunzi.png") no-repeat 0 0;
    margin: 3px 8px 0 0;
}
.fuwu{width: 323px;height: 56px;font-size: 12px;

dd{
    width: 265px;
    height: 56px;
    }
}

.panelA dt.new_bg {
    float:left;
    width: 46px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    padding-right: 3px;
    
    margin: 3px 8px 0 0;
    
}
.color{dd{width: 265px;height: 44px;

        ul li a{
            background: url(//z2.tuanimg.com/imagev2/trade/800x800.e8b2e0a….33x33.jpg) no-repeat center center;
                width: 33px;
    height: 33px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 31px;
    background: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: top;
        }
    }
}

.numb{width: 323px;height:30px;
    dd{width: 265px;height:30px;
        p {
            border: 1px solid #ccc;
            float: left;
            margin-right: 10px;
            background: #fff;
            }
    }
}
.numb dd .decrease{
    width: 25px;
    height: 28px;
    float: left;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    background: url("../../src/css/img/jiajian.png") no-repeat -1px -210px;
}
.numb dd p input {
    float: left;
    border-width: 0 1px;
    font-family: arial;
    border-color: #ccc;
    border-style: solid;
    width: 38px;
    height: 28px;
    background: #fff;
    padding: 5px;
    text-align: center;
}

.numb dd p .increase{
    width: 25px;
    height: 28px;
    float: left;
    text-align: center;
    cursor: pointer;
    font: 12px;
    background: url("../../src/css/img/jiajian.png") no-repeat -1px -240px;
}
.submit{width: 335px;height: 55px;}
.submit .s2 input{
    width: 160px;height: 55px;
    border:1px solid #ec1611;
    background: #fff;
    color: #ec1611;
}
.submit input,.submit em.sao input {
    width: 160px;
    height: 55px;
    color: #fff;
    text-align: center;
    font: 20px/36px '\5FAE\8F6F\96C5\9ED1';
    border: 1px solid #ec1611;
    background: #ec1611;
}
.sku_box_btn{display:none;}

.panelD {
    width: 100%;
    height:30px;
    float: left;
    margin-top: 65px;
}
.panelD span{
    margin-right: 10px;
    line-height: 30px;
    float: left;
}
.panelD span.bt i {
    font-family: 宋体;
    background: rgb(236, 24, 19);
}
.panelD span i {
    background: url(//i4.tuanimg.com/shop/asset/item_d/products/new_ico8.e0121a0d.png) no-repeat 2px 0;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
    line-height: 17px;
    a{
    font-size: 12px;

    }
}
/*.room_hidden{display:none;}*/

.wapper_r_r{float:right;width: 196px;height: 530px;}
#goodsB{width: 980px;height: 2000px;overflow:hidden;margin:0 auto;}
.goodsB_l{width: 180px;height: 2000px;float:left;
    ul li{font-size: 12px;text-align: center;background:#fafafa;}
}
.goodsB_r{width: 800px;height: 2000px;float:right;
    ul li{float:left;background:#fafafa;
        a{display:block;width: 120px;height: 38px;padding:0 20px;line-height: 38px;
            
        }

    }
}
